---
import { getCollection, CollectionEntry } from "astro:content";
import { slugify, sortByDate } from "../../js/utils";

// components
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

// generate props and params for each path
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueCategories = [
    ...new Set(
      allPosts.map((post) => {
        return post.data.category;
      })
    ),
  ];
  return uniqueCategories.map((category) => ({
    params: { category: slugify(category) },
    props: {
      name: category,
    },
  }));
}

const { name } = Astro.props;
const { category } = Astro.params;
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = sortByDate(allPosts);
const categoryPosts = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<MainLayout
  title={`${name} - Kodahead`}
  description={`All posts in '${name}' category - Kodahead`}
>
  <div class="container mb-14">
    <header class="text-center mt-6 mb-6 md:mb-8">
      <div
        data-transition
        class="sm:text-md font-medium mb-4 badge badge-ghost py-3"
      >
        Category
      </div>
      <h1 class="font-bold text-4xl sm:text-5xl">{name}</h1>
      <div class="h-[2px] bg-base-200 rounded-full mt-2"></div>
    </header>
    <section
      class="grid grid-cols-1 gap-x-[2%] gap-y-[30px] sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        categoryPosts.map((post) => {
          return <ArticleCard post={post} />;
        })
      }
    </section>
  </div>
</MainLayout>
