---
import { getCollection, CollectionEntry } from "astro:content";
import { slugify, sortByDate } from "@js/utils";

// components
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import HeadingGradient from "@components/HeadingGradient.astro";

// generate props and params for each path
export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueCategories = [
    ...new Set(
      allPosts.map((post) => {
        return post.data.category;
      })
    ),
  ];
  return uniqueCategories.map((category) => ({
    params: { category: slugify(category) },
    props: {
      name: category,
    },
  }));
}

const { name } = Astro.props;
const { category } = Astro.params;
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = sortByDate(allPosts);
const categoryPosts = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<MainLayout title={name} description={`All posts in the '${name}' category.`}>
  <HeadingGradient>
    {name}
  </HeadingGradient>
  <section class="min-h-screen px-4 py-12 2xl:container lg:px-10">
    <section class="cards-grid">
      {
        categoryPosts.map((post) => {
          return <ArticleCard post={post} />;
        })
      }
    </section>
  </section>
</MainLayout>
