---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "@js/utils";
import ArticleCard from "@components/ArticleCard.astro";
import HeadingGradient from "@components/HeadingGradient.astro";

const allPosts = await getCollection("blog");
const formattedPosts = sortByDate(allPosts);
---

<MainLayout title="Blog | Kodahead" description="See all our blog posts">
  <HeadingGradient>Blog Posts</HeadingGradient>
  <section class="2xl:container bg-base-300 px-4 lg:px-10 min-h-screen py-12">
    <div class="cards-grid">
      {
        formattedPosts.map((post) => {
          return <ArticleCard post={post} />;
        })
      }
    </div>
  </section>
</MainLayout>
