@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply touch-manipulation  selection:bg-accent/60;
  }

  * {
    @apply font-poppins antialiased scroll-smooth;
  }

  svg {
    @apply pointer-events-none;
  }

  label {
    @apply w-fit;
  }

  *:not(input, textarea):focus-visible {
    @apply outline-fuchsia-600 outline-2 !important;
  }

  [data-validate]:not(:placeholder-shown):invalid {
    @apply text-error ring-error ring outline-none appearance-none !important;
  }
  [data-validate]:not(:placeholder-shown):valid {
    @apply ring ring-success outline-none appearance-none !important;
  }

  /* DAISY UI */
  :where(.btn-primary)[disabled]:hover {
    @apply bg-primary/50 text-primary-content transition !important;
  }

  [data-theme="light"] .lightBase {
    @apply bg-base-100;
  }

  :where(.btn) {
    @apply no-animation;
  }

  /* CODE BLOCKS & REHYPE*/
  pre {
    @apply py-8 relative m-0 bg-[#24292e] px-0 rounded-tl-none !important;
  }

  pre > code {
    @apply [&>*]:font-serif grid lg:whitespace-pre-wrap;
  }

  code {
    @apply inline-block bg-base-200/70 !rounded-md !py-0;
  }

  /* ANIMATE CSS */
  .animate__slideInRight,
  .animate__slideOutRight {
    --animate-duration: 350ms;
  }

  .animate__zoomIn {
    --animate-duration: 350ms;
  }
  .animate__fadeIn,
  .animate__fadeOut {
    --animate-duration: 350ms;
  }

  /* ALPINE JS */
  [x-cloak] {
    display: none !important;
  }
}

@layer components {
  .cards-grid {
    @apply grid grid-cols-1 gap-x-[2%] gap-y-[30px] sm:grid-cols-2 lg:grid-cols-3;
  }

  [data-theme="light"] .bg-base-50 {
    @apply bg-slate-200;
  }
  [data-theme="dark"] .bg-base-50 {
    @apply bg-neutral-800;
  }

  /* CODEBLOCK */
  [data-rehype-pretty-code-fragment] > code {
    @apply rounded-md bg-[#24292e] font-medium;
  }

  pre > code > .line {
    @apply pl-6;
  }

  .line.highlighted {
    @apply bg-green-900/40 pl-5 border-l-4 border-green-400;
  }

  .line span {
    @apply font-mono;
  }

  .line > .word {
    @apply rounded-lg p-1 bg-neutral-600/80;
  }
}
