<div
  x-cloak
  x-data
  x-show="$store.overlays.cookiePopup"
  x-transition:enter="animate__fadeIn"
  x-transition:leave="animate__zoomOutDown"
  role="alertdialog"
  aria-modal="true"
  class="rounded-lg animate__animated animate__faster border border-neutral-300 w-[96vw] max-w-[500px] bg-neutral-50 shadow-lg z-30 fixed bottom-4 left-0 right-0 mx-auto md:left-auto md:bottom-10 md:right-5 md:mx-0">
  <div class="p-6">
    <header class="text-neutral-900 mb-4 sm:p-2">
      <h2 class="font-semibold text-lg mb-2">We care about your privacy.</h2>
      <p class="text-sm">
        This website uses cookies to analyze traffic and enhance your browsing
        experience. By clicking "Accept", you agree to our use of cookies as
        described in our <a
          class="link font-medium inline-block rounded-md"
          href="/privacy">Privacy Policy</a
        >.
      </p>
      <p class="text-neutral-900/50 text-xs mt-2">
        *You can change your consent later by clicking Cookie Settings at the
        bottom of the page.
      </p>
    </header>
    <div
      x-data="cookieConsent"
      class="flex gap-2 items-center text-neutral-900">
      <button
        @click="handleCookieConsent('Reject');$store.overlays.toggleModal('cookiePopup')"
        class="flex-1 px-4 py-3 text-sm border border-neutral-300 transition hover:bg-neutral-300 rounded-lg"
        >Reject</button
      >
      <button
        id="cookiepopup"
        x-data
        @click="handleCookieConsent('Accept');$store.overlays.toggleModal('cookiePopup')"
        class="flex-1 px-4 py-3 text-sm bg-blue-500 text-blue-50 hover:bg-blue-600 transition rounded-lg"
        >Accept</button
      >
    </div>
  </div>
</div>

<script>
  import Alpine from "alpinejs";
  import { setCookieConsent } from "@js/analytics";

  document.addEventListener("alpine:init", () => {
    Alpine.data("cookieConsent", () => ({
      init() {
        // Show cookiePopup modal if consent doesn't exist in localStorage
        if (localStorage.getItem("consentMode") === null) {
          const overlaysStore = Alpine.store("overlays") as {
            toggleModal: (arg: "cookiePopup") => void;
          };
          overlaysStore.toggleModal("cookiePopup");
        }
      },
      handleCookieConsent: (keyword) => {
        setCookieConsent(keyword);
      },
    }));
  });
</script>
