<div
  x-cloak
  x-data
  x-show="$store.overlays.cookiePopup"
  x-transition:enter="animate__fadeIn"
  x-transition:leave="animate__fadeOutDown"
  role="alertdialog"
  aria-modal="true"
  class="rounded-lg animate__animated animate__faster border border-neutral-300 w-[95vw] max-w-[500px] bg-neutral-50 shadow-lg z-30 fixed bottom-5 left-0 right-0 mx-auto md:left-auto md:right-5 md:mx-0"
>
  <div class="p-4">
    <header class="text-neutral-900 mb-4 sm:p-2">
      <h2 class="font-semibold text-lg mb-2">We care about your privacy.</h2>
      <p class="text-sm">
        This website uses cookies to analyze traffic and enhance your browsing
        experience. By clicking "Accept", you agree to our use of cookies as
        described in our <a class="link font-medium" href="/privacy"
          >Privacy Policy</a
        >.
      </p>
      <p class="text-neutral-900/50 text-xs mt-2">
        Change your cookie settings later by clicking Cookie Settings at the end
        of the page.
      </p>
    </header>
    <div x-data class="flex gap-2 items-center text-neutral-900">
      <button
        @click="$store.overlays.setCookieConsent('Rejected');$store.overlays.toggleModal('cookiePopup')"
        class="flex-1 px-4 py-3 text-sm border border-neutral-300 transition hover:bg-neutral-300 rounded-lg"
        >Reject</button
      >
      <button
        x-data
        @click="$store.overlays.setCookieConsent('Accepted');$store.overlays.toggleModal('cookiePopup')"
        class="flex-1 px-4 py-3 text-sm bg-blue-500 text-blue-50 hover:bg-blue-600 transition rounded-lg"
        >Accept</button
      >
    </div>
  </div>
</div>
