<div
  x-cloak
  x-data
  x-show="$store.overlays.cookieSettings"
  x-transition:enter="animate__fadeIn"
  x-transition:leave="animate__fadeOut"
  role="alertdialog"
  aria-modal="true"
  class="fixed z-[100] animate__animated animate__faster inset-0 flex items-center justify-center"
>
  <span class="fixed inset-0 bg-neutral-800/70 flex items-center"> </span>
  <div
    x-trap.inert.noscroll="$store.overlays.cookieSettings"
    @click.away="$store.overlays.toggleModal('cookieSettings')"
    class="p-4 rounded-lg z-50 border border-neutral-300 w-[95vw] max-w-[500px] bg-neutral-50 shadow-lg"
  >
    <header class="text-neutral-900">
      <h2 class="font-semibold text-lg mb-2 border-b border-neutral-300">
        Cookie Settings
      </h2>
    </header>
    <div
      class="bg-gray-200 my-4 border border-neutral-300 overflow-y-scroll h-[300px]"
    >
    </div>
    <div x-data class="flex gap-2 items-center text-neutral-900">
      <button
        @click="$store.overlays.setCookieConsent('Rejected');$store.overlays.toggleModal('cookieSettings')"
        class="flex-1 px-4 py-3 text-sm border border-neutral-300 transition hover:bg-neutral-300 rounded-lg"
        >Reject</button
      >
      <button
        x-data
        @click="$store.overlays.setCookieConsent('Accepted');$store.overlays.toggleModal('cookieSettings')"
        class="flex-1 px-4 py-3 text-sm bg-blue-500 text-blue-50 hover:bg-blue-600 transition rounded-lg"
        >Accept</button
      >
    </div>
  </div>
</div>
