---
import { Icon } from "astro-icon";
---

<a href="/" aria-label="Go to homepage" class="flex items-center group">
  <Icon
    name="logo"
    height="40"
    class="group-hover:-rotate-45 transition duration-500 ease-in-out"
  />
  <Icon
    name="kodahead"
    height="20"
    class="group-hover:[&>path]:fill-indigo-600 [&>path]:transition [&>path]:duration-200"
  />
</a>
