---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="404 Page not found" description="Error 404, page not found">
  <div
    x-data
    class="flex min-h-[100svh] container text-center flex-col items-center justify-start">
    <h1 class="mt-12 text-4xl font-bold">Well, this is awkward..</h1>
    <lottie-player
      class="w-full md:w-[600px] h-[400px] animate__animated animate__fadeIn"
      autoplay
      loop
      mode="normal"
      src="/lotties/404.json">
    </lottie-player>
    <h2 class="text-lg font-medium">
      However you've got here, we're sorry but this page doesn't exist. <br
      />Just a cat hanging around.
    </h2>
    <div class="my-[50px] flex flex-col gap-4 w-[200px]">
      <a href="/" class="btn btn-primary btn-block">Homepage</a>
      <a href="/blog" class="btn btn-ghost btn-active btn-block">Blog Posts</a>
      <a href="/contact" class="btn btn-ghost btn-active btn-block">Contact</a>
    </div>
  </div>
</MainLayout>
