---
import MainLayout from "@layouts/MainLayout.astro";
import ContactForm from "@components/forms/ContactForm.astro";
import HeadingGradient from "@components/HeadingGradient.astro";
---

<MainLayout
  title="Contact"
  description="Whether you have a question, suggestion, or just want to say hello, we are here and ready to connect.">
  <HeadingGradient>Contact</HeadingGradient>
  <div class="container min-h-screen py-12 bg-base-300">
    <section class="max-w-[650px] mx-auto w-full">
      <p class="mb-8 text-center sm:text-lg">
        We are thrilled to hear from you. Whether you have a question,
        suggestion, or just want to say hello, we are here and ready to connect.
        Fill out the form below, and we'll get back to you as soon as possible.
      </p>
      <div class="divider"></div>
      <ContactForm />
      <div class="divider"></div>
      <p class="text-xs text-center opacity-50">
        By submitting this form, you acknowledge that you have read and
        understood our <a href="/privacy" class="link">Privacy Policy</a>.
      </p>
    </section>
  </div>
</MainLayout>
