---
// components
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Disclaimer" description="Default Description">
  <div
    class="container h-full rounded-xl lg:bg-base-200 max-w-[100ch] text-center py-8 lg:mt-[15vh]"
  >
    <h2 class="text-5xl font-semibold underline">Disclaimer</h2>
    <p class="text-lg font-medium leading-10 my-9">
      Hey there! We just wanted to give you a heads up that this educational
      blog about coding is all about sharing knowledge and insights. We've put
      in our best efforts to ensure the information is accurate and relevant,
      but hey, we're not perfect! So, please bear in mind that the tutorials,
      tips, and advice we provide are based on our understanding and experience,
      and they may not be a one-size-fits-all solution for every coding
      situation. If in doubt, it's always a good idea to seek professional
      guidance or refer to official documentation. We're here to help, but we
      can't take responsibility for any errors, omissions, or damages that might
      arise from using the information shared on this platform.
    </p>
    <p class="font-semibold text-2xl">Stay curious and happy coding!</p>
  </div>
</MainLayout>
