---
import HeadingGradient from "../components/HeadingGradient.astro";
import MainLayout from "../layouts/MainLayout.astro";
import * as DisclaimerProps from "../legal/disclaimer.mdx";
import { Content as DisclaimerText } from "../legal/disclaimer.mdx";
---

<MainLayout
  title="Disclaimer - Kodahead"
  description="Disclaimer about using our website and the content provided"
>
  <HeadingGradient>
    {DisclaimerProps.frontmatter.title}
  </HeadingGradient>
  <div class="lg:container bg-base-300">
    <section class="prose min-h-screen lg:max-w-[80%] py-14 px-[3%] mx-auto">
      <DisclaimerText />
    </section>
  </div>
</MainLayout>
