---
import { getCollection } from "astro:content";
import { sortByDate } from "@js/utils";
import { Icon } from "astro-icon";

// components
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
import ArticleCard from "@components/ArticleCard.astro";

const allPosts = await getCollection("blog");
const recentPosts = sortByDate(allPosts);
---

<MainLayout
  title="Kodahead"
  description="An educational web development blog. From mastering HTML, CSS, and JavaScript to diving into the latest frameworks and design trends, we got you covered.">
  <Hero />
  <section class="2xl:container py-12 px-4 lg:px-10 bg-base-300">
    <h2 class="text-4xl font-medium mb-6">Recent Posts</h2>
    <div class="cards-grid">
      {
        recentPosts.slice(0, 6).map((post) => {
          return <ArticleCard post={post} />;
        })
      }
    </div>
    <div class="flex justify-center mt-12">
      <a
        href="/blog"
        class="inline-flex items-center gap-2 group btn btn-accent capitalize">
        <span>See all posts</span>
        <span>
          <Icon name="gg:arrow-right" height="28" />
        </span>
      </a>
    </div>
  </section>
</MainLayout>

<script>
  import Alpine from "alpinejs";

  window.addEventListener("load", function () {
    const isMessageSent = localStorage.getItem("messageSent");
    if (isMessageSent) {
      const overlaysStore = Alpine.store("overlays") as {
        toggleModal: (arg: "messageSuccess") => void;
      };
      overlaysStore.toggleModal("messageSuccess");
      localStorage.removeItem("messageSent");
    }
  });
</script>
