---
import MainLayout from "../layouts/MainLayout.astro";
import { Content as PrivacyPolicyText } from "../legal/privacy-policy.md";
import { Content as DisclaimerText } from "../legal/disclaimer.md";
---

<MainLayout
  title="Legal | Kodahead"
  description="We respect your privacy and are committed to safeguarding your personal data."
>
  <div class="container">
    <section
      class="prose lg:max-w-[80%] [&>*]:scroll-m-20 py-14 px-[3%] mx-auto lg:border-x border-base-200"
    >
      <DisclaimerText />
    </section>
    <section
      class="prose lg:max-w-[80%] [&>*]:scroll-m-20 py-14 px-[3%] mx-auto lg:border-x border-base-200"
    >
      <PrivacyPolicyText />
    </section>
  </div>
</MainLayout>
