---
import HeadingGradient from "../components/HeadingGradient.astro";
import MainLayout from "../layouts/MainLayout.astro";
import * as PrivacyPolicyProps from "../legal/privacy-policy.mdx";
import { Content as PrivacyPolicyText } from "../legal/privacy-policy.mdx";
---

<MainLayout
  title="Privacy Policy - Kodahead"
  description="We respect your privacy and are committed to safeguarding your personal data."
>
  <HeadingGradient>
    {PrivacyPolicyProps.frontmatter.title}
  </HeadingGradient>
  <div class="lg:container bg-base-300">
    <section class="prose lg:max-w-[80%] py-14 px-[3%] mx-auto">
      <PrivacyPolicyText />
    </section>
  </div>
</MainLayout>
