---
import MainLayout from "../layouts/MainLayout.astro";
import * as PrivacyPolicyProps from "../legal/privacy-policy.mdx";
import { Content as PrivacyPolicyText } from "../legal/privacy-policy.mdx";
---

<MainLayout
  title="Privacy Policy - Kodahead"
  description="We respect your privacy and are committed to safeguarding your personal data."
>
  <div
    class="header-gradient h-[150px] flex items-center justify-center overflow-hidden"
  >
    <h2
      class="text-5xl animate__animated animate__fadeInDown animate__faster xl:text-6xl font-mono font-medium text-center"
    >
      {PrivacyPolicyProps.frontmatter.title}
    </h2>
  </div>
  <div class="lg:container bg-base-300">
    <section class="prose lg:max-w-[80%] py-14 px-[3%] mx-auto">
      <PrivacyPolicyText />
    </section>
  </div>
</MainLayout>
