---
type Props = { children: any };
---

<article
  class="container mb-10 flex flex-col border-b border-gray-200 lg:flex-row"
>
  <!-- TODO gray line fix -->
  <section
    class="prose flex-1 border-b border-gray-300 px-6 pb-8 prose-h3:text-2xl lg:border-none xl:max-w-none xl:prose-p:text-lg"
  >
    <slot />
  </section>
  <slot name="sidebar" />
</article>
