---
import CategoryBadge from "../CategoryBadge.astro";
import RelatedCard from "./RelatedCard.astro";
const { relatedPosts, category } = Astro.props;
---

<aside
  class="my-8 border-gray-200 lg:my-0 lg:w-[37%] lg:border-l lg:pb-8 lg:pl-4 xl:ml-10 xl:pl-6"
>
  <div class="lg:sticky lg:top-6 lg:mt-0">
    <div class="mb-6 flex items-center justify-between gap-5">
      <h2 class="font-poppins text-2xl">Related posts</h2>
      <CategoryBadge category={category} />
    </div>
    {
      relatedPosts.map((post) => {
        return <RelatedCard post={post} />;
      })
    }
  </div>
</aside>
