---
import { getCollection } from "astro:content";
import { slugify } from "@js/utils";
import { Icon } from "astro-icon";

const allPosts = await getCollection("blog");
const uniqueCategories = [
  ...new Set(
    allPosts.map((post) => {
      return post.data.category;
    })
  ),
];
---

<li x-data="{collapse:false}">
  <button
    data-transition
    @click="collapse = !collapse"
    :class="collapse && 'bg-info/40'"
    class="inline-flex items-center w-full p-4 font-medium duration-200 transition gap-4">
    <span class="-mt-1">
      <Icon name="ic:round-category" height="20" class="text-info" />
    </span>
    Category
    <span
      data-transition
      :class="collapse && 'rotate-180'"
      class="ml-auto transition duration-200">
      <Icon name="mdi:chevron-down" height="26" />
    </span>
  </button>
  <ul x-cloak x-show="collapse" class="flex flex-col px-3 py-2 gap-2 h-fit">
    {
      uniqueCategories.map((category) => (
        <li class="rounded-lg bg-base-200">
          <a
            class="block py-3 text-sm font-medium text-center"
            href={`/category/${slugify(category)}`}>
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</li>
