---
import { getCollection } from "astro:content";
import { slugify } from "@js/utils";
import { Icon } from "astro-icon";

const allPosts = await getCollection("blog");
const uniqueCategories = [
  ...new Set(
    allPosts.map((post) => {
      return post.data.category;
    })
  ),
];
---

<div x-data="{droppedDown:false}" class="dropdown">
  <label
    @click="droppedDown = true"
    @click.outside="droppedDown = false"
    tabindex="0"
    class="capitalize btn btn-ghost">
    <span>Blog</span>
    <span
      data-transition
      class="inline-block -ml-1 -mr-3 transition"
      :class="droppedDown && 'rotate-180'">
      <Icon name="mdi:chevron-down" height="22" />
    </span>
  </label>
  <div
    @click.stop
    tabindex="0"
    class="z-50 border-2 rounded-lg shadow-xl menu dropdown-content translate-y-2 bg-base-200 border-accent w-52">
    <a href="/blog" class="capitalize btn btn-ghost btn-active hover:bg-accent"
      >All Posts</a
    >
    <ul class="menu menu-md">
      <li class="menu-title">Category</li>
      {
        uniqueCategories.map((category) => (
          <li>
            <a class="font-medium" href={`/category/${slugify(category)}`}>
              {category}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
