---
import { Icon } from "astro-icon";
---

<button
  x-data
  @click="$store.overlays.toggleModal('mobileMenu')"
  class="p-2 swap swap-rotate md:hidden"
  name="Show mobile menu">
  <!-- this hidden checkbox controls the state -->
  <input
    type="checkbox"
    id="toggleMenu"
    x-model="$store.overlays.mobileMenu"
    aria-hidden="true"
  />

  <Icon name="heroicons-solid:menu-alt-3" height="32" class="swap-off" />
  <Icon name="ic:round-keyboard-tab" height="32" class="swap-on" />
  <!-- <Icon name="ion:close" height="32" class="swap-on" /> -->
</button>
