---
import { Icon } from "astro-icon";
---

<a
  href="/"
  aria-label="Go to homepage"
  class="flex items-center outline-none rounded-xl group"
>
  <Icon
    data-transition
    fetchpriority="high"
    name="logo"
    height="40"
    class="outline-none transition duration-500 ease-in-out"
  />
  <Icon
    data-transition
    fetchpriority="high"
    name="kodahead"
    height="20"
    class="group-hover:[&>path]:fill-indigo-600 outline-none [&>path]:transition [&>path]:duration-200"
  />
</a>
