---
import { Icon } from "astro-icon";
---

<a href="/" aria-label="Go to homepage" class="btn btn-ghost group">
  <Icon
    data-transition
    fetchpriority="high"
    name="kodahead"
    height="20"
    class="group-hover:[&>path]:fill-accent outline-none [&>path]:transition"
  />
</a>
