---
import { getCollection } from "astro:content";
import { slugify } from "@js/utils";
import { Icon } from "astro-icon";

// components
import SearchBar from "../search/SearchBar.astro";

const allPosts = await getCollection("blog");
const uniqueCategories = [
  ...new Set(
    allPosts.map((post) => {
      return post.data.category;
    })
  ),
];
---

<nav
  x-cloak
  x-show="open"
  x-transition:enter="animate__slideInRight"
  x-transition:leave="animate__slideOutRight"
  aria-label="sidebar menu"
  class="fixed animate__animated overflow-y-scroll border-t border-base-200 h-[calc(100vh-64px)] z-50 top-[64px] bg-base-300 w-2/5 min-w-fit right-0 p-4 flex flex-col">
  <SearchBar />
  <ul
    class="flex flex-col mt-4 [&>:not(:last-child)]:border-b [&>li]:border-base-200/60">
    <li>
      <a
        class="px-2 py-4 w-full inline-flex items-center gap-4 font-medium"
        href="/blog">
        <span class="-mt-1">
          <Icon
            name="lucide:layout-dashboard"
            height="20"
            class="text-emerald-300"
          />
        </span>
        All Posts
      </a>
    </li>
    <li>
      <a
        class="px-2 py-4 w-full inline-flex items-center gap-4 font-medium"
        href="/contact">
        <span class="-mt-1">
          <Icon name="lucide:contact" height="20" class="text-accent" />
        </span>
        Contact
      </a>
    </li>
    <li>
      <button
        class="px-2 py-4 w-full inline-flex items-center gap-4 font-medium">
        <span class="-mt-1">
          <Icon name="fluent:shapes-24-regular" height="20" class="text-info" />
        </span>
        Categories
        <span class="-mt-1">
          <Icon name="mdi:chevron-down" height="20" />
        </span>
      </button>
    </li>
    <!-- TODO Add collapse with categories -->
  </ul>
</nav>
