---
import ThemeSwitchBtn from "./ThemeSwitchBtn.astro";
import Logo from "./Logo.astro";
import SlidingMenu from "./SlidingMenu.astro";
import SearchBar from "../search/SearchBar.astro";
---

<header
  x-data="navbar"
  x-show="showNavbar"
  @scroll.window="handleVisibility"
  x-transition:enter="animate__slideInDown"
  x-transition:leave="animate__slideOutUp"
  class="shadow-xl animate__animated bg-base-300 fixed min-h-16 top-0 w-full z-50"
>
  <div class="2xl:container navbar justify-between">
    <div class="navbar-start hidden md:flex gap-2 [&>a]:capitalize">
      <a href="/" class="btn btn-ghost">Home</a>
      <a href="/blog" class="btn btn-ghost">Blog</a>
      <a href="/contact" class="btn btn-ghost">Contact</a>
    </div>
    <div class="navbar-center">
      <Logo />
    </div>
    <div class="navbar-end hidden md:flex items-center gap-3">
      <SearchBar />
      <ThemeSwitchBtn />
    </div>
    <SlidingMenu />
  </div>
</header>

<script>
  import Alpine from "alpinejs";
  // Hide on scroll down, show on scroll up
  let prevScrollPos = window.scrollY;
  document.addEventListener("alpine:init", () => {
    Alpine.data("navbar", () => ({
      showNavbar: true,
      handleVisibility() {
        const currentScrollPos = window.scrollY;

        if (prevScrollPos > currentScrollPos || currentScrollPos < 500) {
          this.showNavbar = true;
        } else {
          this.showNavbar = false;
        }

        prevScrollPos = currentScrollPos;
      },
    }));
  });
</script>
