---
import ThemeSwitchBtn from "../misc/ThemeSwitchBtn.astro";
import Logo from "../misc/Logo.astro";
import MobileMenu from "./MobileMenu.astro";
---

<header
  x-data="navbar"
  x-show="showNavbar"
  @scroll.window="handleVisibility"
  x-transition:enter="animate__slideInDown"
  x-transition:leave="animate__slideOutUp"
  class="shadow-md animate__animated fixed bg-base-300 top-0 w-full z-50"
>
  <nav class="flex items-center 2xl:container px-4 justify-between h-[58px]">
    <Logo />
    <div class="items-center hidden sm:flex">
      <ul class="flex items-center">
        <li>
          <a href="/" class="btn btn-ghost">Home</a>
        </li>
        <li>
          <div class="dropdown dropdown-bottom dropdown-hover dropdown-end">
            <label tabindex="0" class="btn btn-ghost">Category</label>
            <ul
              tabindex="0"
              class="dropdown-content menu menu-compact p-2 shadow-lg bg-base-200 rounded-box w-52"
            >
              <li><a>A.I.</a></li>
              <li><a>React</a></li>
              <li><a>Tailwind CSS</a></li>
              <li><a>Astro</a></li>
              <li><a>Javascript</a></li>
              <li><a>Optimization</a></li>
            </ul>
          </div>
        </li>
        <ThemeSwitchBtn />
      </ul>
    </div>
    <MobileMenu />
  </nav>
</header>

<script>
  import Alpine from "alpinejs";
  // Hide on scroll down, show on scroll up
  let prevScrollPos = window.pageYOffset;
  document.addEventListener("alpine:init", () => {
    Alpine.data("navbar", () => ({
      showNavbar: true,
      handleVisibility() {
        const currentScrollPos = window.pageYOffset;

        if (prevScrollPos > currentScrollPos || currentScrollPos < 500) {
          this.showNavbar = true;
        } else {
          this.showNavbar = false;
        }

        prevScrollPos = currentScrollPos;
      },
    }));
  });
</script>
