---
import { Icon } from "astro-icon";
// components
import ThemeSwitchBtn from "./ThemeSwitchBtn.astro";
import SearchBar from "../search/SearchBar.astro";
import Dropdown from "../navbar/Dropdown.astro";
import HamburgerBtn from "./HamburgerBtn.astro";
---

<header
  class="border-b bg-base-300/80 border-base-200/50 backdrop-blur min-h-16 sticky top-0 w-full z-[100]">
  <nav class="justify-between 2xl:container navbar md:px-4">
    <ul class="navbar-start hidden md:flex gap-2 [&>a]:capitalize">
      <li>
        <a href="/" class="capitalize btn btn-ghost">Home</a>
      </li>
      <li>
        <Dropdown />
      </li>
      <li>
        <a href="/contact" class="capitalize btn btn-ghost">Contact</a>
      </li>
    </ul>
    <div class="navbar-center">
      <a
        data-transition
        href="/"
        aria-label="Go to homepage"
        class="group btn btn-ghost">
        <Icon name="logo" height="22" class="" />
        <Icon
          name="kodahead"
          height="20"
          class="group-hover:[&>path]:fill-accent [&>path]:transition"
        />
      </a>
    </div>
    <div class="items-center hidden navbar-end md:flex gap-3">
      <SearchBar />
      <ThemeSwitchBtn />
    </div>
    <div
      x-data
      x-cloak
      x-transition:enter="animate__zoomIn"
      x-transition:leave="animate__fadeOut"
      x-show="$store.overlays.mobileMenu"
      class="ml-auto mr-2 rounded-lg animate__animated animate__faster bg-base-200">
      <ThemeSwitchBtn />
    </div>
    <HamburgerBtn />
  </nav>
</header>
