---
import HamburgerBtn from "./HamburgerBtn.astro";
import MobileMenuItems from "./MobileMenuItems.astro";
---

<!-- OPEN SIDEBAR BUTTON -->
<div x-data="{open : false}" class="flex items-center md:hidden">
  <HamburgerBtn />
  <div
    x-cloak
    x-trap.noscroll="open"
    x-show="open"
    x-transition:enter="animate__slideInRight"
    x-transition:leave="animate__slideOutRight"
    aria-label="sidebar menu"
    class="fixed animate__animated animate__faster overflow-y-scroll border-t border-base-200 h-[calc(100vh-64px)] z-50 top-[64px] bg-base-300 w-screen right-0"
  >
    <MobileMenuItems />
  </div>
</div>

<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";
  Alpine.plugin(focus);
</script>
