---
import { Icon } from "astro-icon";
---

<button
  x-data="themebtn"
  name="Switch website theme"
  aria-label="Toggle website light and dark mode"
  class="z-[10000] btn btn-ghost overflow-hidden btn-circle relative align-middle"
  @click="toggle">
  <Icon
    name="sun"
    height="24"
    x-cloak
    x-show="!darkMode"
    x-transition:enter="animate__slideInRight"
    class="fill-current animate__animated absolute animate__faster"
  />
  <Icon
    name="moon"
    height="24"
    x-cloak
    x-show="darkMode"
    x-transition:enter="animate__slideInRight"
    class="fill-current animate__animated absolute animate__faster"
  />
</button>

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("themebtn", () => ({
      darkMode: localStorage.theme === "dark",
      disableTransitions() {
        const elements = document.querySelectorAll("[data-transition]");
        elements.forEach((element) => {
          element.classList.toggle("!transition-none");
        });
        setTimeout(() => {
          elements.forEach((element) => {
            element.classList.toggle("!transition-none");
          });
        }, 0);
      },
      toggle() {
        if (localStorage.theme === "dark") {
          this.disableTransitions();
          this.darkMode = false;
          document.documentElement.setAttribute("data-theme", "light");
          localStorage.setItem("theme", "light");
        } else {
          this.disableTransitions();
          this.darkMode = true;
          document.documentElement.setAttribute("data-theme", "dark");
          localStorage.setItem("theme", "dark");
        }
      },
    }));
  });
</script>
