---
import { Icon } from "astro-icon";
---

<button
  x-data="themebtn"
  name="Switch website theme"
  aria-label="Toggle website light and dark mode"
  class="z-[10000] btn btn-ghost overflow-hidden btn-circle relative align-middle"
  @click="switchTheme">
  <Icon
    name="sun"
    height="24"
    x-cloak
    x-show="!darkMode"
    x-transition:enter="animate__slideInRight"
    class="fill-current animate__animated absolute animate__faster"
  />
  <Icon
    name="moon"
    height="24"
    x-cloak
    x-show="darkMode"
    x-transition:enter="animate__slideInRight"
    class="fill-current animate__animated absolute animate__faster"
  />
</button>

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("themebtn", () => ({
      transitionEls: document.querySelectorAll("[data-transition]"),
      darkMode: localStorage.theme === "dark",
      removeTransitions() {
        this.transitionEls.forEach((element) => {
          element.style.transition = "none";
        });
      },
      switchTheme() {
        if (localStorage.theme === "dark") {
          this.removeTransitions();
          this.darkMode = false;
          document.documentElement.setAttribute("data-theme", "light");
          localStorage.setItem("theme", "light");
        } else if (localStorage.theme === "light") {
          this.removeTransitions();
          this.darkMode = true;
          document.documentElement.setAttribute("data-theme", "dark");
          localStorage.setItem("theme", "dark");
        }

        setTimeout(() => {
          // Return transition effects back after 600ms because CSS buffer
          this.transitionEls.forEach((element) => {
            element.style.transition = "";
          });
        }, 600);
      },
    }));
  });
</script>
