---
import { getCollection } from "astro:content";
import { sortByDate } from "../js/utils";
import ArticleCard from "./ArticleCard.astro";

const posts = await getCollection("blog");
const latestPosts = sortByDate(posts);
---

<section class="container my-16 sm:my-20">
  <h2 class="text-4xl font-medium mb-6">All blog posts</h2>
  <div
    class="grid grid-cols-1 gap-x-[2%] gap-y-[30px] sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      latestPosts.slice(0, 6).map((post) => {
        return <ArticleCard post={post} />;
      })
    }
  </div>
</section>
