---
import { formatDate } from "../js/utils";

interface Props {
  author: string;
  date: Date;
}

const { author, date } = Astro.props;
---

<div class="text-xs font-medium xl:text-sm">
  <address class="not-italic">
    {author}
  </address>
  <time class="text-base-content/60" datetime={date.toISOString()}>
    {formatDate(date)}
  </time>
</div>
