---
import { formatDate } from "../js/utils";

interface Props {
  author: string;
  date: Date;
  horizontal?: true | false;
}

const { author, date, horizontal } = Astro.props;
---

<div
  class={`flex ${
    horizontal ? "flex-row items-center" : "flex-col"
  } text-sm font-medium`}
>
  <address class="not-italic">
    {author}
  </address>
  {horizontal && <span class="mx-2">&#9679;</span>}
  <time class="text-base-content/80 text-sm" datetime={date.toISOString()}>
    {formatDate(date)}
  </time>
</div>
