---
import { formatDate } from "../js/utils";

interface Props {
  author: string;
  date: Date;
}

const { author, date } = Astro.props;
---

<small class="text-xs font-light xl:text-sm">
  <span class="underline">{author}</span>
  •
  <time datetime={date.toISOString()}>
    {formatDate(date)}
  </time>
</small>
