---
import { slugify } from "../js/utils";
interface Props {
  category: string;
}
const { category } = Astro.props as Props;
---

<a
  href={`/blog/category/${slugify(category)}`}
  class="btn btn-outline btn-xs w-fit rounded-full border-2 font-semibold"
>
  {category}
</a>
