---
import { slugify } from "@js/utils";
interface Props {
  category: string;
}
const { category } = Astro.props as Props;
---

<a
  data-transition
  href={`/category/${slugify(category)}`}
  class="btn btn-accent hover:bg-base-content border-none btn-sm transition md:btn-xs w-fit text-xs normal-case rounded-2xl font-semibold">
  {category}
</a>
