---
import { slugify } from "../js/utils";
interface Props {
  category: string;
}
const { category } = Astro.props as Props;
---

<a
  data-transition
  href={`/category/${slugify(category)}`}
  class="btn btn-ghost btn-sm btn-active transition-none md:btn-xs w-fit text-xs normal-case rounded-2xl font-semibold"
>
  {category}
</a>
