---
import { slugify } from "../js/utils";
interface Props {
  category: string;
}
const { category } = Astro.props as Props;
---

<a
  href={`/blog/category/${slugify(category)}`}
  class="btn btn-ghost btn-active btn-xs w-fit text-xs rounded-full font-semibold"
>
  {category}
</a>
