---
import { slugify } from "../js/utils";
interface Props {
  category: string;
  type?: "secondary";
}
const { category, type } = Astro.props as Props;
---

<!-- TODO Update,dynamically add colors and LINK/SLUG  -->
<a
  href={`/blog/category/${slugify(category)}`}
  class={`${
    type === "secondary"
      ? "border-white hover:bg-white hover:text-black"
      : "hover:text-white"
  } inline-block w-fit rounded-full border border-black px-4 text-sm transition ease-in hover:bg-black`}
>
  {category}
</a>
