---
import { slugify } from "@js/utils";
interface Props {
  category: string;
}
const { category } = Astro.props as Props;
---

<a
  data-transition
  href={`/category/${slugify(category)}`}
  class="text-xs font-semibold normal-case btn btn-ghost btn-active btn-sm md:btn-xs w-fit rounded-2xl">
  {category}
</a>
