<footer class="bg-neutral-900">
  <div
    class="container flex flex-col gap-5 justify-between items-start pt-10 pb-12 lg:flex-row lg:py-5"
  >
    <div class="text-neutral-100">
      &copy; <span id="copyright"></span> Kodahead | All rights reserved
    </div>
    <ul class="flex flex-col text-sm gap-2 lg:flex-row lg:gap-5">
      <li>
        <a class="hover:text-neutral-100 text-neutral-400" href="/contact"
          >Contact</a
        >
      </li>
      <li>
        <a class="hover:text-neutral-100 text-neutral-400" href="/disclaimer"
          >Disclaimer</a
        >
      </li>
      <li>
        <a class="hover:text-neutral-100 text-neutral-400" href="/contact"
          >Cookie Settings</a
        >
      </li>
    </ul>
  </div>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
