---
import Icon from "astro-icon";
---

<footer class="mt-10">
  <div class="container flex items-center justify-center py-4">
    <div class="flex items-center justify-center gap-3 text-center md:gap-5">
      <Icon name="logo" height="50px" />
      <small class="text-xs font-medium">
        Copyright &copy; <span id="copyright"></span> | Kodahead <br /> All rights
        reserved
      </small>
    </div>
  </div>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
