---
import Icon from "astro-icon";
---

<footer class="bg-black">
  <div
    class="container flex flex-col items-center justify-around gap-4 pb-6 pt-3 text-white md:flex-row-reverse md:justify-between"
  >
    <menu class="flex h-[50px] w-full justify-around md:w-fit">
      <li class="navlink">
        <a href="/blog">Blog</a>
      </li>
      <li class="navlink">
        <a href="/about">About</a>
      </li>
      <li class="navlink">
        <a href="/contact">Contact</a>
      </li>
    </menu>
    <div class="flex items-center justify-center gap-3 text-center md:gap-5">
      <Icon name="logo-base-white" height="52px" />
      <small class="text-xs">
        Copyright &copy; <span id="copyright"></span> | PHALLON <br /> All rights
        reserved
      </small>
    </div>
  </div>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
