---
import Icon from "astro-icon";
---

<footer class="bg-neutral-900">
  <div class="container flex items-center justify-center py-4 text-white">
    <div class="flex items-center justify-center gap-3 text-center md:gap-5">
      <Icon name="logo-white" height="52px" />
      <small class="text-xs">
        Copyright &copy; <span id="copyright"></span> | PHALLON <br /> All rights
        reserved
      </small>
    </div>
  </div>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
