---
import Icon from "astro-icon";
---

<footer class="bg-base-300">
  <div class="container flex justify-center py-6">
    <div class="flex items-center flex-col gap-4">
      <Icon name="logo" height="60px" />
      <small class="text-xs text-center">
        <div class="font-semibold uppercase">
          Copyright &copy; <span id="copyright"></span> | Kodahead <br /> All rights
          reserved
        </div>
        <a
          class="link text-base-content/70 font-medium inline-block mt-2"
          href="/disclaimer">Disclaimer</a
        >
      </small>
    </div>
  </div>
</footer>

<script>
  document.getElementById("copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
