<div class="header-gradient h-[170px] flex items-center justify-center">
  <h1
    class="text-5xl animate__animated animate__fadeInDown animate__faster xl:text-6xl font-mono font-medium text-center"
  >
    <slot />
  </h1>
</div>
