<div
  class="bg-gradient-to-r from-yellow-500 via-purple-500 to-blue-500 h-[100px] sm:h-[140px] flex items-center justify-center">
  <h1
    class="font-mono text-4xl font-medium text-center animate__animated animate__fadeInDown animate__faster lg:text-5xl 2xl:text-6xl">
    <slot />
  </h1>
</div>
