---
---

<div
  class="pattern h-[calc(100vh-58px)] bg-base-300 sm:h-[45vh] flex items-center justify-center border-b-2 border-secondary/60"
>
  <div class="bg-base-200 rounded-lg w-[30%] h-[200px]"></div>
</div>
