---
import { Icon } from "astro-icon";
---

<div class="bg-base-300">
  <section class="2xl:container">
    <div
      class="w-full bg-[url('/images/homepage-hero.webp')] bg-cover bg-center h-[calc(100svh-58px)] sm:h-[500px]"
    >
      <div class="relative bg-neutral-900/30 w-full h-full">
        <div
          class="absolute flex flex-col items-center gap-5 bottom-0 left-0 right-0 top-[40%] h-fit w-fit mx-auto"
        >
          <Icon name="kodahead" height="40" class="[&>path]:fill-neutral-100" />
          <a href="/blog" class="btn glass text-neutral-100 capitalize w-fit"
            >See all posts</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
