---
import { Icon } from "astro-icon";
import ThemeSwitchBtn from "./misc/ThemeSwitchBtn.astro";
import Logo from "./misc/Logo.astro";
---

<header class="shadow-md sticky top-0 w-full z-50">
  <nav
    class="flex flex-col items-center justify-between sm:container sm:h-[60px] sm:flex-row"
  >
    <Logo />
    <div class="flex items-center">
      <menu class="flex items-center">
        <li>
          <a href="/" class="btn btn-ghost">Home</a>
        </li>
        <!-- dropdown -->
        <li class="dropdown dropdown-hover dropdown-bottom dropdown-end">
          <label tabindex="0" class="btn btn-ghost no-animation m-1"
            >Category
          </label>
          <ul
            tabindex="0"
            class="dropdown-content menu p-2 shadow-md bg-base-200 rounded-box w-52"
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
        </li>
      </menu>
      <ThemeSwitchBtn />
    </div>
  </nav>
</header>
