---
import { Icon } from "astro-icon";
---

<header class="bg-white shadow-lg">
  <nav
    class="flex flex-col items-center justify-between sm:container sm:h-[60px] sm:flex-row"
  >
    <a href="/">
      <Icon name="logo-black" height="50" />
    </a>
    <menu
      class="flex h-full w-full items-center justify-around border-t border-gray-400 font-medium sm:w-fit sm:justify-end sm:border-none"
    >
      <li class="navlink">
        <a href="/">Home</a>
      </li>
      <li class="navlink">
        <a href="/blog">Blog</a>
      </li>
    </menu>
  </nav>
</header>
