---
import { Icon } from "astro-icon";
import ThemeSwitchBtn from "./ThemeSwitchBtn.astro";
---

<header class="shadow-lg">
  <nav
    class="flex flex-col items-center justify-between sm:container sm:h-[60px] sm:flex-row"
  >
    <a href="/" class="[&>svg>path]:hover:fill-primary [&>svg>path]:transition">
      <Icon name="logo" height="50" />
    </a>
    <menu
      class="flex h-full w-full items-center justify-around border-t border-gray-400 font-medium sm:w-fit sm:justify-end sm:border-none"
    >
      <ThemeSwitchBtn />
    </menu>
  </nav>
</header>
