---
const { filename } = Astro.props;
import CopyCodeButton from "./CopyCodeButton.astro";
---

<figure class="shadow-lg">
  <figcaption
    class="bg-zinc-600 text-primary-content px-3 pt-2 pb-1 rounded-t-lg w-fit">
    <span class="text-xs lg:text-sm font-medium font-mono">{filename}</span>
  </figcaption>
  <div data-codeBlock class="relative">
    <slot />
    <CopyCodeButton />
  </div>
</figure>
