---
const { filename } = Astro.props;
import CopyCodeButton from "./CopyCodeButton.astro";
---

<figure class="shadow-lg">
  <figcaption
    class="px-3 pt-2 pb-1 rounded-t-lg bg-zinc-600 text-primary-content w-fit">
    <span class="font-mono text-xs font-medium lg:text-sm">{filename}</span>
  </figcaption>
  <div data-codeBlock class="relative">
    <slot />
    <CopyCodeButton />
  </div>
</figure>
