---
const { filename } = Astro.props;
import CopyCodeButton from "./CopyCodeButton.astro";
---

<figure class="shadow-lg">
  <figcaption
    class="bg-neutral-700 border-b border-accent italic text-primary-content px-4 pt-2 pb-1 rounded-t-lg w-fit"
  >
    <span class="text-xs xl:text-sm">{filename}</span>
  </figcaption>
  <div data-codeBlock class="relative">
    <slot />
    <CopyCodeButton />
  </div>
</figure>

<style is:global>
  /* FIXME why does it have to be scoped here but put to is:global to work?? */
  .word {
    border-radius: 0.5rem;
    padding: 1px 4px 1px 4px;
    background-color: #52525b8c;
    display: inline-block;
  }

  [data-word-id="p"] {
    background-color: indigo;
    color: white;
  }
</style>
