---
const { filename } = Astro.props;
import CopyCodeButton from "./CopyCodeButton.astro";
---

<figure class="shadow-lg">
  <figcaption
    class="bg-neutral-700 border-b border-accent italic text-primary-content px-4 pt-2 pb-1 rounded-t-lg w-fit"
  >
    <span class="text-xs xl:text-sm">{filename}</span>
  </figcaption>
  <div data-codeBlock class="relative">
    <slot />
    <CopyCodeButton />
  </div>
</figure>
