---
import { Icon } from "astro-icon";
---

<button
  data-copyCodeBtn
  name="Copy code block to clipboard"
  aria-label="Copy code block to clipboard"
  class="absolute p-2 rounded-lg outline-none enabled:lg:hover:outline-neutral-600 outline outline-2 outline-offset-0 bg-neutral-700 top-2 right-2 disabled:pointer-events-none transition-all">
  <div data-copyIcon>
    <Icon
      class="[&>path]:fill-neutral-300"
      pack="mdi"
      name="clipboard-multiple-outline"
      height="18"
    />
  </div>
  <div data-copySuccess class="hidden">
    <Icon
      class="[&>path]:fill-success"
      pack="mdi"
      name="clipboard-check-multiple-outline"
      height="18"
    />
  </div>
</button>
