---
---

<form class="mb-8 w-full flex flex-col">
  <h3 class="font-bold text-lg mb-3">Sign up for our newsletter</h3>
  <p class="text-sm mb-5">
    Stay updated on the latest in coding by subscribing to our newsletter. Get
    exclusive articles, tutorials, and insights from industry experts delivered
    straight to your inbox.
  </p>
  <div>
    <input
      type="email"
      placeholder="Your email address"
      class="input mb-3 input-bordered w-full lightBase bg-base-200"
    />
    <button type="button" class="btn btn-secondary btn-block capitalize">
      <!-- TODO Change type when form functional -->
      Subscribe
    </button>
  </div>
</form>
