---
import NewsletterForm from "../forms/NewsletterForm.astro";
---

<div class="mb-8 w-full flex flex-col">
  <h3 class="font-bold text-lg mb-3">Sign up for our newsletter</h3>
  <p class="text-sm mb-5">
    Stay updated on the latest in coding by subscribing to our newsletter. Get
    exclusive articles, tutorials, and insights from industry experts delivered
    straight to your inbox.
  </p>
  <NewsletterForm />
</div>
