---
---

<div class="mb-8">
  <h3 class="font-bold text-lg mb-3">Join our community</h3>
  <p class="text-sm mb-5">
    Stay updated on the latest in coding by subscribing to our newsletter. Get
    exclusive articles, tutorials, and insights from industry experts delivered
    straight to your inbox.
  </p>
  <button class="btn btn-primary btn-block capitalize"> Subscribe</button>
</div>
