---
import NewsletterForm from "../forms/NewsletterForm.astro";
---

<div class="flex flex-col w-full mb-8">
  <h3 class="mb-3 text-lg font-bold">Sign up for our newsletter</h3>
  <p class="mb-5 text-sm">
    Stay updated on the latest in coding by subscribing to our newsletter. Get
    exclusive articles, tutorials, and insights from industry experts delivered
    straight to your inbox.
  </p>
  <NewsletterForm />
</div>
