---
import { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
  currentPost: CollectionEntry<"blog">;
}

const { posts, currentPost } = Astro.props;
const nextPostIndex = (function () {
  let nextPost = posts.findIndex((post) => currentPost.id === post.id) + 1;
  if (nextPost < posts.length) {
    nextPost = nextPost;
  } else {
    nextPost = 0;
  }
  return nextPost;
})();

const {
  slug,
  data: { title },
} = posts[nextPostIndex];
---

<div class="text-center mt-14 mb-8">
  <h4 class="font-bold text-xl mb-2">Read next:</h4>
  <a
    href=`/blog/${slug}`
    class="text-2xl font-semibold link capitalize text-indigo-500 hover:text-indigo-700 transition"
    >{title}</a
  >
</div>
