---
import { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
  currentPost: CollectionEntry<"blog">;
}

const { posts, currentPost } = Astro.props;
const nextPostIndex = (function () {
  let nextPost = posts.findIndex((post) => currentPost.id === post.id) + 1;
  if (nextPost < posts.length) {
    nextPost = nextPost;
  } else {
    nextPost = 0;
  }
  return nextPost;
})();

const {
  slug,
  data: { title },
} = posts[nextPostIndex];
---

<div class="mb-8 text-center mt-14">
  <h3 class="mb-2 text-xl font-bold">Read next:</h3>
  <a
    href=`/blog/${slug}`
    class="text-2xl font-semibold text-indigo-500 capitalize link hover:text-indigo-700 transition"
    >{title}</a
  >
</div>
