---
import { CollectionEntry } from "astro:content";
import RelatedPostCard from "./RelatedPostCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  category: String;
}
const { posts, category } = Astro.props;

const relatedPosts = posts
  .filter(
    (post) => post.data.category.toLowerCase() === category.toLowerCase()
    // TODO uncomment this below
    // post.data.title !== title
  )
  .slice(0, 4);
---

<section
  class="bg-base-300 pt-[140px] pb-[60px] pattern border-t-2 border-primary/60"
>
  <div class="2xl:container sm:px-8 px-4 py-8 z-10 backdrop-blur-sm rounded-xl">
    <h2 class="font-bold text-2xl sm:text-4xl mb-4 sm:mb-6">Related posts</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      {
        relatedPosts.map((post) => {
          return <RelatedPostCard post={post} />;
        })
      }
    </div>
  </div>
</section>
