---
import { CollectionEntry } from "astro:content";
import NewsletterCard from "./NewsletterCard.astro";
import LatestPostCard from "./LatestPostCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  currentPost: CollectionEntry<"blog">;
}

const { posts, currentPost } = Astro.props as Props;

const latestPosts = posts
  .filter((post) => post.id !== currentPost.id)
  .slice(0, 3);
---

<aside
  class="xl:w-[28%] xl:border-l-2 border-base-200/50 xl:pl-7 mt-10 xl:mt-0 border-t-2 pt-12 xl:pt-0 xl:border-t-0">
  <div
    class="sticky top-[80px] flex flex-col md:flex-row xl:flex-col items-start [&>*]:flex-1 gap-6 xl:gap-0">
    <NewsletterCard />
    <div class="w-full">
      <h3 class="text-lg font-bold mb-3">Latest Posts</h3>
      <div class="flex flex-col gap-5 pb-4">
        {
          latestPosts.map((post) => {
            return <LatestPostCard post={post} />;
          })
        }
      </div>
    </div>
  </div>
</aside>
