---
const { title, description } = Astro.props;
---

<head>
  <script is:inline>
    const HTML = document.documentElement;
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      localStorage.setItem("theme", "dark");
      HTML.setAttribute("data-theme", "dark");
    } else {
      localStorage.setItem("theme", "light");
      HTML.setAttribute("data-theme", "light");
    }
  </script>

  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon-logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
</head>
