---
import Head from "./Head.astro";
import "../styles/global.css";
import "../styles/fonts.css";
import "animate.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";

interface Props {
  title: string;
  description: string;
  image?: Object;
}

const { title, description } = Astro.props as Props;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Navbar />
    <main class="min-h-screen pt-[58px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
