---
import CookiePopup from "@components/overlays/CookiePopup.astro";
import MessageSuccess from "@components/overlays/MessageSuccess.astro";
import MobileMenu from "@components/overlays/MobileMenu.astro";
---

<div x-data id="overlays">
  <CookiePopup />
  <MessageSuccess />
  <MobileMenu />
</div>

<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";
  Alpine.plugin(focus);

  Alpine.store("overlays", {
    cookiePopup: false,
    messageSuccess: false,
    mobileMenu: false,
    toggleModal(key: string) {
      this[key] = !this[key];
    },
  });
</script>
