---
import CookiePopup from "../components/overlays/CookiePopup.astro";
import CookiesSettings from "../components/overlays/CookiesSettings.astro";
---

<div id="overlays">
  <CookiePopup />
  <CookiesSettings />
</div>

<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";
  Alpine.plugin(focus);

  Alpine.store("overlays", {
    init() {
      this.cookiePopup = !localStorage.getItem("cookieConsent");
    },
    cookiePopup: true,
    cookieSettings: false,
    disclaimer: false,
    toggleModal(key: string) {
      this[key] = !this[key];
    },
    setCookieConsent(consent: "Accepted" | "Rejected") {
      localStorage.setItem("cookieConsent", consent);
    },
  });
</script>
