---
import CookiePopup from "../components/overlays/CookiePopup.astro";
import MessageSuccess from "../components/overlays/MessageSuccess.astro";
---

<div id="overlays">
  <CookiePopup />
  <MessageSuccess />
</div>

<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";
  Alpine.plugin(focus);

  Alpine.store("overlays", {
    cookiePopup: false,
    messageSuccess: false,
    toggleModal(key: string) {
      this[key] = !this[key];
    },
  });
</script>
