---
import CookiePopup from "../components/overlays/CookiePopup.astro";
---

<div id="overlays">
  <CookiePopup />
</div>

<!-- TODO put toasts here from other components -->
<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";
  Alpine.plugin(focus);

  Alpine.store("overlays", {
    init() {
      // Don't show cookiePopup if cookieConsent exists in localStorage
      this.cookiePopup = !localStorage.getItem("cookieConsent");
    },
    cookiePopup: true,
    disclaimer: false,
    toggleModal(key: string) {
      this[key] = !this[key];
    },
  });
</script>
