---
const EMAIL = import.meta.env.FORM_SUBMIT_EMAIL; // Netlify .env
---

<form
  x-data="{loading : false}"
  @submit="localStorage.setItem('messageSent', 'true'); loading = true"
  action={`https://formsubmit.co/${EMAIL}`}
  class="my-8"
  method="POST">
  <input type="hidden" name="_template" value="box" />
  <input type="hidden" name="_subject" value="Kodahead Contact" />
  <input type="hidden" name="_next" value={Astro.site?.toString()} />
  <div class="flex flex-col sm:flex-row w-full gap-4">
    <!-- Name -->
    <div class="flex flex-col flex-1">
      <label for="name" class="mb-1 text-lg font-medium">Name:</label>
      <input
        :disabled="loading === true"
        id="name"
        name="name"
        type="text"
        class="input disabled:opacity-40 bg-base-50 input-bordered focus:outline-info"
        placeholder="Full Name"
        spellcheck="false"
        required
        aria-required="true"
      />
    </div>
    <!-- Email -->
    <div class="flex flex-col flex-1">
      <label for="email" class="mb-1 text-lg font-medium">Email:</label>
      <input
        :disabled="loading === true"
        id="email"
        name="email"
        type="email"
        class="input disabled:opacity-40 bg-base-50 input-bordered focus:outline-info"
        placeholder="Email Address"
        spellcheck="false"
        required
        aria-required="true"
      />
    </div>
  </div>
  <!-- Message -->
  <div x-data="{message:'', remaining: 300 }" class="flex flex-col my-6">
    <label for="message" class="mb-1 text-lg font-medium">Message:</label>
    <textarea
      :disabled="loading === true"
      x-model="message"
      @input="remaining= 300 - message.length"
      id="message"
      name="message"
      class="resize-y disabled:opacity-40 bg-base-50 textarea text-base min-h-[15em] max-h-[800px] textarea-bordered w-full focus:outline-info placeholder:text-base"
      placeholder="Your Message"
      autocomplete="off"
      spellcheck="false"
      maxlength="300"
      required
      aria-required="true"></textarea>
    <!-- Characters remaining -->
    <div
      class="flex justify-start animate__animated animate__fadeIn h-[22px] mt-3 items-center text-sm font-semibold">
      <span
        x-cloak
        x-text="remaining"
        x-show="message.length > 1"
        x-transition:enter="animate__fadeIn"
        :class="{'text-error': remaining <= 0, 'text-warning animate__headShake': remaining > 0 && remaining <= 50, 'text-success': remaining > 50}"
        class="animate__animated animate__slow"></span>
      <span
        x-cloak
        x-show="remaining <= 0"
        class="font-normal text-xs ml-2 text-error"
        >You've reached the maximum character limit.</span
      >
    </div>
  </div>
  <!-- Submit button -->
  <div class="flex sm:justify-end">
    <button
      type="submit"
      :disabled="loading === true"
      :class="loading && 'loading'"
      class="btn btn-primary btn-block capitalize md:w-1/4 disabled:opacity-50 disabled:bg-primary/50 disabled:text-primary-content">
      <span x-show="!loading">Send Message</span>
    </button>
  </div>
</form>
