<form
  x-data="newsletter"
  name="submit-to-google-sheet"
  @submit.prevent="sendData()"
  novalidate>
  <input
    type="email"
    name="Email"
    spellcheck="false"
    autocomplete="off"
    :disabled="isLoading"
    placeholder="Your email address"
    @input.debounce.300ms="validateInput"
    @keydown="preventSpace($event)"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
    class="input mb-3 input-bordered disabled:opacity-40 lightBase w-full bg-base-200"
    data-validate
  />
  <button
    type="submit"
    disabled
    :disabled="!inputValid || isLoading"
    class="btn btn-primary btn-block capitalize disabled:opacity-50 disabled:bg-primary/50 disabled:text-primary-content">
    <span x-cloak x-show="isLoading" class="loading loading-spinner loading-md"
    ></span>
    <span x-show="!isLoading" x-text="'Subscribe'"></span>
  </button>
</form>

<script>
  import Alpine from "alpinejs";
  import { sendEmailData } from "@js/api";
  import { toast } from "@js/utils";
  const form = document.forms["submit-to-google-sheet"];

  document.addEventListener("alpine:init", () => {
    Alpine.data("newsletter", () => ({
      status: "initial",
      inputValid: false,
      isLoading: false,
      async sendData() {
        this.isLoading = true;
        const response: any = await sendEmailData(form);
        this.isLoading = false;
        response
          ? toast("You've been subscribed", "alert-success", 2000)
          : toast("Something went wrong", "alert-error", 2000);
        form.blur();
        form.reset();
        this.inputValid = false;
      },
      validateInput(event) {
        this.inputValid = event.target.checkValidity();
        !event.target.value && (this.inputValid = false);
      },
      preventSpace(event) {
        event.key === " " && event.preventDefault();
      },
    }));
  });
</script>
